<template>
  <section class="w-100 w-60-l order-0 tc flex flex-column items-center">
    <img class="mw4 pv2" src="/static/images/baby.png" alt="Baby Girl">
    <h1 v-show="!isAuthenticated" class="f2 f1-l ma0 lh-title green-text">IT'S A GIRL!</h1>
    <h1 v-show="isAuthenticated" class="f2 f1-l ma0 lh-title green-text">GIVE ME A NAME!</h1>
    <p v-show="hasSubmitted" class="f4 f3-l pv2 dib dn-l lh-copy ma0 opensanssemibold green-text">
      THANKS! <br> See what other names were suggested
      <span class="dn dib-l">on the left!</span>
      <span class="dib dn-l">below!</span>
    </p>
    <div v-if="isAuthenticated" class="pv3 pv4-l">
      <form class="pb3 flex flex-column flex-row-ns justify-center" @submit.prevent="onFormSubmit">
        <input id="name-input" class="input-reset poetsen outline-0 bn f4 pa3 pa2-l green-text" type="text" placeholder="Enter name"
          v-model="babyName">
        <input class="input-reset poetsen bn f4 pa3 pa2-l green-btn" type="submit">
      </form>
      <div class="flex flex-column flex-row-ns justify-center">
        <button class="button-reset poetsen bn f4 pa3 pa2-l green-btn" @click="onLogout">
              Logout {{currentUser.displayName}}
            </button>
      </div>
    </div>
    <div v-else-if="!isAuthenticated && !loggingIn" class="pv4">
      <button class="button-reset poetsen bn f3 f4-l pa3 pa2-l green-btn" @click="onFacebookLogin">
            Facebook Login
          </button>
    </div>
    <div v-else class="spinner ma4">
      <div class="dot1"></div>
      <div class="dot2"></div>
    </div>
    <p v-show="hasSubmitted" class="f4 f3-l pt0 dn dib-l  lh-copy ma0 opensanssemibold green-text">
      THANKS! <br> See what other names were suggested
      <span class="dn dib-l">on the right!</span>
      <span class="dib dn-l">below!</span>
    </p>
    <p v-show="!isAuthenticated" class="f5 f4-l ma0 pb2 pb0-l lh-copy opensanssemibold green-text">
      Help us name our baby girl!<br> Log in using Facebook to suggest names.
    </p>
  </section>
</template>

<script>
  /* eslint-disable no-undef,no-alert,no-console */

  import moment from 'moment';

  export default {
    props: [
      'firebase',
      'subRef',
    ],

    data() {
      return {
        babyName: '',
        hasSubmitted: false,
        loggingIn: false,
        currentUser: null,
      };
    },

    created() {
      this.firebase.auth().onAuthStateChanged((user) => {
        this.loggingIn = false;
        this.currentUser = user;
      });
    },

    methods: {
      onFacebookLogin() {
        const provider = new this.firebase.auth.FacebookAuthProvider();

        this.loggingIn = true;

        this.firebase.auth().signInWithRedirect(provider)
          .then((result) => {
            this.currentUser = result.user;
          })
          .catch((error) => {
            window.alert(error.code, error.message);
          });
      },

      onFormSubmit() {
        if (!this.babyName.trim()) return;

        this.subRef.push({
          user: this.currentUser.displayName,
          submission: this.babyName.trim(),
          timestamp: moment().toISOString(),
          photoUrl: this.currentUser.photoURL,
        })
          .then(() => {
            this.hasSubmitted = true;
          })
          .catch((error) => {
            window.alert(error);
          });

        this.babyName = '';
        document.getElementById('name-input').blur();
      },

      onLogout() {
        firebase.auth().signOut()
          .then(() => console.log('signed out'))
          .catch(error => console.log(error.message));
      },
    },

    computed: {
      isAuthenticated() {
        return this.currentUser;
      },
    },
  };
</script>