<template>
  <section class="w-100 w-40-l order-1 order-0-l flex flex-column justify-center">
    <Spinner :condition="data.length <= 0"></Spinner>
    <ul class="list ma0 pa0 flex flex-column" v-if="data && data.length > 0">
      <li class="pv1 pv2-l" v-for="(item, index) in data">
        <div class="flex flex-row justify-center">
          <div v-bind:class="{'order-1': odd(index)}" class="w-50 w-40-l flex flex-column justify-center">
            <span v-bind:class="{tr: odd(index)}" class="f6 pa1 white tl opensanssemibold">{{item.user}}</span>
            <div v-bind:class="{'left-top': odd(index)}" class="pt relative bg-white tri-right right-top">
              <div class="green-text tc">
                <p class="ma0 pa2 ph3 f3">{{item.submission}}</p>
              </div>
            </div>
            <span v-bind:class="{tl: even(index), tr: odd(index)}" class="f6 pa1 opensanssemibold green-text">{{item.timestamp | moment}}</span>
          </div>
          <div v-bind:class="{'order-0': odd(index), pl4: even(index), pr4: odd(index)}" class="pt2">
            <img v-bind:src="item.photoUrl" class="br-100 ba bw2 h3 w3 dib green-border" alt="avatar">
          </div>
        </div>
      </li>
    </ul>
  </section>
</template>

<script>
  import moment from 'moment';

  import Spinner from './Spinner';

  export default {
    components: {
      Spinner,
    },

    props: [
      'data',
    ],

    methods: {
      even(index) {
        return index % 2 === 0;
      },

      odd(index) {
        return index % 2 !== 0;
      },
    },

    filters: {
      moment(value) {
        return moment(value).fromNow();
      },
    },
  };
</script>

<style>
  /* Right triangle placed top right flush. */
.tri-right.right-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -40px;
  top: -8px;
	bottom: auto;
}
.tri-right.right-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -19px;
  top: 0px;
	bottom: auto;
	border: 20px solid;
	border-color: white transparent transparent transparent;
}

/* Right triangle placed top left flush. */
.tri-right.left-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -40px;
	right: auto;
  top: -8px;
	bottom: auto;
}
.tri-right.left-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -20px;
	right: auto;
  top: 0px;
	bottom: auto;
	border-color: white transparent transparent transparent;
}
</style>