<template>
  <main class="vw-100-l vh-100-l flex flex-column flex-row-l pa3 pa5-l poetsen">
    <Submissions :data="submissions"></Submissions>
    <NameForm :firebase="firebase" :sub-ref="submissionsRef"></NameForm>
  </main>
</template>

<script>
  /* eslint-disable no-undef,no-alert,no-console */

  import * as firebase from 'firebase';
  import _ from 'lodash';

  import Submissions from './components/Submissions';
  import NameForm from './components/NameForm';

  const config = {
    apiKey: 'AIzaSyDhKdbXwCHUBJMM0wWO1eWSYZM1WjKUhm4',
    authDomain: 'nameourbaby-a1720.firebaseapp.com',
    databaseURL: 'https://nameourbaby-a1720.firebaseio.com',
    storageBucket: 'nameourbaby-a1720.appspot.com',
    messagingSenderId: '573245942436',
  };

  firebase.initializeApp(config);

  export default {
    components: {
      Submissions,
      NameForm,
    },

    data() {
      return {
        firebase,
        submissions: [],
        submissionsRef: null,
      };
    },

    created() {
      this.submissionsRef = firebase.database().ref('submissions');

      this.submissionsRef.off();

      this.submissionsRef.limitToLast(5)
        .on('child_added', (data) => {
          this.submissions.push(data.val());
          this.submissions = _.orderBy(this.submissions, ['timestamp'], ['desc']);
        });
    },

    updated() {
      if (this.submissions.length > 5) this.submissions.pop();
    },
  };
</script>

<style>
@font-face {
    font-family: 'poetsenoneregular';
    src: url('/static/fonts/poetsenone-regular-webfont.woff2') format('woff2'),
         url('/static/fonts/poetsenone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('/static/fonts/OpenSans-Semibold-webfont.eot');
    src: url('/static/fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('/static/fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('/static/fonts/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: #44be8f;
}

.poetsen {
    font-family: 'poetsenoneregular', Arial, Helvetica, sans-serif;
}

.opensanssemibold {
    font-family: 'open_sanssemibold', Arial, Helvetica, sans-serif;
}

.green-text {
  color: #125d66;
}

.green-border {
  border-color: #125d66;
}

.green-btn {
  background-color: #125d66;
  color: white;
}
</style>